<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
   <title>Algebra</title>
</head>
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>
  
      <div style= "max-width: 85%; 
      text-align: justify;">
      <div style="margin-left:15%;">
         <h3>Mathematics</h3>
         <ul>
          <h3>Algebra</h3>
          <p class= "math-equation">Algebra deals with variables (do not have a fix values) and arithmetic operations. In algebraic expressions, these values are usually represented using symbols like \(x, y, z\), etc. 
                These symbols are manipulated using various arithmetic operations (such as addition, subtraction, multiplication, and division) with the goal to find the their values. 
                An algebraic equation can be represented by \(2x + 3 = 16\).
            In this expression, 3 and 16 are constants that remain fixed; additionally, 3 is a coefficient, whereas '\(x\)' is the variable. </p>
          <h4>Algebraic expression</h4>
          <p class= "math-equation">
                An algebraic expression or polynomial is an expression made up of variables, constants, athematic expressions and positive integers exponents variables.
                Two algebraic expressions with an 'equal to (=)' symbol between them with equal values is known as equation is a mathematical statement.
                The different types of equations, based on the degree of the variable are given below:
            </p> 
            <li><h4>Linear Equations</h4>
              <p class= "math-equation">
                Linear equations are expressed as the exponents of degree one. Its standard form is \(ax + b = 0\), where a and b are constants and \(x\) is a variable. 
                <br>In the given below example, we will solve a linear algebraic expression with basic steps:
                <br>Example: \(5x - 15 = 2a - 6\)
                <br>  
                Step1: Transferee \(2x\) to left-hand-side (L.H.S) of equation and change the sign from positive to negative. Also transferee -15 to right-hand-side (R.H.S) and change negative sign to positive. 
                 <br>\(\implies 5x - 2x = -6 + 15\)
                <br>Step 2: Solve basic arithmetic expressions.
                <br>\(\implies 3x = 9\)
                <br>Divide both sides by a common divisor such as 3
                <br>\(\implies 3x / 3 = 9 / 3\)
                <br>\(\implies a = 3\)
                </p>
                </li>
                      <li><h4>Quadratic Equations</h4>
              <p class="math-equation">
                A quadratic equation is expressed as a degree of two and can be written in the standard form as \(ax^2 + by + 2 = 0\), where x is the variable with degree 2 and \(a, b, c\) are constants. 
                <br>Example: \(4x^2 - 15x + 9 = 0\)
                <br>Step 1: Split the exponent of degree one '\(15x\)' must have a divisor,
                <br>\(\implies 4x^2 - 12x - 3x + 9=0 \)
                <br>\(\implies  4x (x - 3) - 3 (x - 3)=0\)
                <br>\(\implies   (4x - 3)(x - 3) = 0\)
                <br>Step 2: Therefore, one of \((4x - 3)\) and \((x - 3)\) must be zero,
                <br>when, \(4x - 3 = 0 \implies  x = 3 / 4 \)
                <br>and when \(x - 3 = 0 \implies x = 3 \)
                <br>Thus required solutions are \(x = 3 / 4, 3\).
                </p>
                </li>
          <br>
          <div style = "text-align: right; font-size: 18px; padding-right: 10%;">      
            <a href="linear_exercise.html">Exercise</a>
            </div>
          <h4>Reference</h4>
            <ul>
                <li style="margin-top: -0.5%;"><a href="https://www.cuemath.com/numbers/arithmetic-operations/#">Methamatics: CUEMATH</a></li>
           <li style="margin-top: 1.5%;"><a href="https://www.math-only-math.com/.html">Math-Only-Math</a></li>
           <!--<li style="margin-top: -2%;"><a href="https://www.geeksforgeeks.org/solving-cubic-equations/"> GeeksforGeeks</a></li>
           -->
        </ul>
        </div>
      </ul>
  </div>
</div>
<script src="../static/script.js"></script>
</body>
</html>
