<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Arthmetic</title>
<!-- <link rel="stylesheet" href="C:\Users\Adia_\Desktop\Exercises_Examples\Exercises_Examples\css\styles.css">-->
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>
  
      <div style= "max-width: 85%; 
      text-align: justify;">
      <div style="margin-left:15%;">
         <h3>Mathematics</h3>
         <ul>
          <h4>Arithmetic</h4>
          <p class="math-equation">Arithmetic deals with four basic operations on numbers. The detailed discussions related to all four arithmetic operations are given below.
            </p>
          <li><h4>Addition</h4>
            <p class="math-equation">
            The operation denoted by the symbol '+' is known as addition, which involves calculating the sum of two or more numbers. When two or more numbers are added together, it results in a single value.
            <br>For example: \(279 + 123 = 402\).
            </p> 
          </li>
          <li><h4>Subtraction</h4>
            <p class="math-equation">
            The subtraction operation, represented by '-', indicates the difference between two numbers, it involves subtracting one number from another. Subtraction is mostly used to determine what remains when things are taken away which is opposite of addition.
            <br>For example: \(42 - 11 = 31\).
            </p>
          </li>
          <li><h4>Multiplication</h4>
            <p class="math-equation">
            Multiplication is known as repeated addition, symbolized by \('\times'\). 
            Multiplication calculate the total when a number repeats itself several times. 
            For instance, 4 times 2 equals 8, which can be expressed as \(4 \times 2 = 8\). The terms involved in multiplication are the multiplicand and the multiplier . The outcome of multiplying the multiplicand (4) and multiplier (2) is referred to as the product (8).
            <br>For example: \(12 \times 12 = 144\).
            </p>
          </li>
          <li><h4>Division</h4>
            <p class="math-equation">
            Division involves splitting something into equal parts or groups and ensures equal sharing. Division is opposite of multiplication.
            <br>For example, there are 4 boxes, and each box contains 5 apples which contain total 20 apples (i.e., \(4 \times 5 = 20\)).
            Now, take those 20 apples and divide them into 4 equal groups. Each group will have 5 apples (i.e., \(20 ÷ 4 = 5\)), here we are distributing a total quantity 20 into 4 equal parts.
            </p>
          </li>
    <!--
      <h4>Order of Operations</h4>
            <p>
              Order of operations tells you to perform multiplication and division first, working from left to right, before doing addition and subtraction.
            <br> For example: 60 - 30 ÷ 3 x 5 + 7 = 17
            <br> Lets solve the equation, continue to perform multiplication and division from left to right (i.e., 60 - 10 x 5  + 7)
            <br> In next step, add and subtract from left to right (i.e., 10 + 7 = 17). 
            <br><b>Note:</b>  Addition is not necessarily performed before subtraction.
            </p>
            
      <h4> Grouping Symbols and the Order of Operations </h4>
            Grouping symbols such as parentheses ( ), brackets [ ], braces, and { }fraction bars can be used to further control the order of the four basic arithmetic operations. 
            The rules of the order of operations require computation within grouping symbols to be completed first, even if you are adding or subtracting within the grouping symbols and you have multiplication outside the grouping symbols. 
            After computing within the grouping symbols, divide or multiply from left to right and then subtract or add from left to right.
            <br> When working with nested parentheses, the order will always be parentheses, brackets, braces, as {[( )]}.
          <br>
          <br>
          <div style="padding-left: 30px; padding-right: 30px;">
              <b>Parentheses ( )</b>
              <p>Parentheses are used to group numbers or variables, or both. When you see a math problem containing parentheses, you need to use the order of operations to solve it. For example, take the problem: 9 - 5 ÷ (8 - 3) x 2 + 6
              For this problem, you must calculate the operation within the parentheses first—even if it's an operation that would normally come after the other operations in the problem. In this problem, the multiplication and division operations would normally come before subtraction (minus), however, since 8 - 3 falls within the parentheses, you'd work out this part of the problem first. Once you've taken care of the calculation that falls within the parentheses, you'd remove them. In this case (8 - 3) becomes 5, so you would solve the problem as follows:
    
              <br>9 - 5 ÷ (8 - 3) x 2 + 6
              <br>= 9 - 5 ÷ 5 x 2 + 6
              <br>= 9 - 1 x 2 + 6
              <br>= 9 - 2 + 6
              <br>= 7 + 6
              <br>= 13
              </p>
              <B>Brackets [ ]</B>
              <p>
              Brackets are used after the parentheses to group numbers and variables as well. Typically, you'd use the parentheses first, then brackets, followed by braces. Here is an example of a problem using brackets:
    
              <br>4 - 3[4 - 2(6 - 3)] ÷ 3
              <br>= 4 - 3[4 - 2(3)] ÷ 3 (Do the operation in the parentheses first; leave the parentheses.)
              <br>= 4 - 3[4 - 6] ÷ 3 (Do the operation in the brackets.)
              <br>= 4 - 3[-2] ÷ 3 (The bracket informs you to multiply the number within, which is -3 x -2.)
              <br>= 4 + 6 ÷ 3
              <br>= 4 + 2
              <br>= 6
              </p>
              <B>Braces { }</B>
              <p>
              Braces are also used to group numbers and variables. This example problem uses parentheses, brackets, and braces. Parentheses inside other parentheses (or brackets and braces) are also referred to as "nested parentheses." Remember, when you have parentheses inside brackets and braces, or nested parentheses, always work from the inside out:
              <br>2{1 + [4(2 + 1) + 3]}
              <br>= 2{1 + [4(3) + 3]}
              <br>= 2{1 + [12 + 3]}
              <br>= 2{1 + [15]}
              <br>= 2{16}
              <br>= 32
              </p>
            
              <b>Note: </b> Parentheses can also mean multiplication. 
              <button type="button" id="addition_exercise-button" onclick="openPage('addition_exercise.html')">Exercise</button>
              -->
              <br>
              <a href="addition_exercise.html">Exercise</a>
              
              </div>
            </ul>
        </div>
   </div>
  <script src="../static/script.js"></script>
</body>
</html>
