<!DOCTYPE html>
<html lang="en">
  <body>
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
   <title>Linear Algebra Example</title>
<!-- <link rel="stylesheet" href="C:\Users\Adia_\Desktop\Exercises_Examples\Exercises_Examples\css\styles.css">-->
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>
  
      <div class="content">
      <div style="margin-left:15%;">
      <ul>
      <h2 class="headingtop_margen">Algebra: Linear Equation Examples</h2>
      <div class="example-boxAlgebra">
      <h4>Example 1: \(95x - 12 \; \;= 23x + 9\) <h4>
        <h4 class="heading_margen">Solution: </h4>
        <p class= "math-equation">
          Move terms with \(x\) to one side and constant on the other side
          <br>\(95x - 23x = 9 + 12\)           
          <br>\(9-18x \; \;\; \;= 22\) 
          <br> Divide both sides by -18
          <br>\(9x    = 21 / -18 \)   
          <br> Simplify fraction      
          <br>\(9x    = -7/6\)            
         </p>
      </div>
            <br>
    <div class="example-boxAlgebra">
      <h4>Example 2: \(9x + 8 + 16x = 22\) </h4>
        <h4 class="heading_margen">Solution: </h4>
        <p class= "math-equation">
          Move terms with \(x\) to one side and constant on the other side
          <br>\(9x + 16x \; \; \; \;\;\;\,= 22 - 7\)          
          <br>\(25x \;\;\;\;\;\;\;\;\;\;\;\;\;\;\;= 15\)
          <br> Divide both sides by 25
          <br>\(x = 15 / 25\)  
          <br> Simplify fraction    
          <br>\(x = 3/5\)     
         </p>
    </div>
    <br>
    <div class="example-boxAlgebra">
      <h4>Example 3: \(11x + 1 \; \; \;\; = 10x - 9 \) </h4>
        <h4 class="heading_margen">Solution: </h4>
        <p class="math-equation">
          Move terms with \(x\) to one side and constant on the other side
          <br>\(11x - 10x = -9 - 1 \)          
          <br>\(x \;\;\;\;\;\;\;\;\;\;\;\;\;\;= -10 \)
         </p>

     </div>      
      </ul>
        </div>
        
        <div style = "text-align: right; font-size: 20px; padding-right: 10%;">      
          <a href="linear_exercise.html">Exercise</a>
          </div>
   </div>
  <script src="../static/script.js"></script>
</body>
</html>
