<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Addition Exercise</title>
  </head>
<div style="position: fixed; top: 0; width: 100%;">
  <div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
    <img src="../static/Logo.png" width="50%" />
    </div>    
  <div class="centered">  
    <div style= "max-width: 100%; max-height: 20%;">
      <h2 class="headingtop_margen">Exercises for Arithmetic</h2>
    </div>
    <div class="exercise-box">
      <div class="timer" id="timer" >
        <p >00:00:00</p>
      </div>
      <h4>Addition</h4>

      <form id="exerciseForm">
        <div id = "Q1">
          <p class="line-spcaing">Q1: 948 + 1178 = </p>
          <input type="radio" id="add1" name="q1" value="2016">
          <label for="add1">2016</label><br>
          <input type="radio" id="add2" name="q1" value="2116">
          <label for="add2">2116</label><br>
          <input type="radio" id="add3" name="q1" value="2126">
          <label for="add3">2126</label><br>
          <p style="font-size: 14px;" id="resultMessage_q1"></p>
          <button onclick="checkAnswer('q1', '2126')" class="button gray">Check & Submit</button>
          <button type="button" id="submitButton1" onclick="showNextQuestionDiv('Q2', 'Q1')" class="button gray">Next Question</button>
          
        </div>

          <!--<button type="submit" id="submitButton11" onclick="checkAnswer()">Submit</button>-->

        <div id = "Q2" style="display: none;" >
          <p class="line-spcaing">Q2: 28318 + 99541 = </p>
          <input type="radio" id="add4" name="q2" value="126959">
          <label for="add4">126959</label><br>
          <input type="radio" id="add5" name="q2" value="127949">
          <label for="add5">127949</label><br>
          <input type="radio" id="add6" name="q2" value="127859">
          <label for="add6">127859</label><br>
          <p style="font-size: 14px;" id="resultMessage_q2"></p>
          <button onclick="checkAnswer('q2', '127859')" class="button gray">Check & Submit</button>
          <!--<button type="submit" id="submitButton22" onclick="checkAnswer()">Submit</button>-->
          <button type="button" id="submitButton2" onclick="showNextQuestionDiv('Q3', 'Q2')" class="button gray">Next Question</button>
          
        </div>

        <div id = "Q3" style="display: none;">
          <p class="line-spcaing">Q3: 19 + 88822 + 7698 = </p>
          <input type="radio" id="add7" name="q3" value="96539">
          <label for="add7">96539</label><br>
          <input type="radio" id="add8" name="q3" value="95839">
          <label for="add8">95839</label><br>
          <input type="radio" id="add9" name="q3" value="96849">
          <label for="add9">96849</label><br>
          <p style="font-size: 14px;" id="resultMessage_q3"></p>
        
          <button id="submitButton3" onclick="checkAnswer('q3', '96539')" class="button gray">Check & Submit</button>
          <button type="submit" id="submitButton" onclick="checkAnswers(false)" class="button gray">Result</button>
          <br>
          <button type="button" id="exampleButton" disabled onclick="openPage('add_example.html')" class="button gray">Example</button>
          <button class="button gray" type="button" id="nextButton" onclick="openPage('subtraction_exercise.html')" disabled>Next Exercise</button>

      </div>
      </form>
       </div>
       <div style="text-align: center;"> <p style="font-size:0.8em;">Note: You will get the final results based on your first attempt</p>
       </div>
  </div>
</div>
  <dialog id="resultDialog">
    <p id="resultMessage"></p>
    <button id="closeButton">Close</button>
  </dialog>
  <script>
    var evTypep = window.performance.getEntriesByType("navigation")[0].type;
  
    if (evTypep == 'reload') {
      // Display a confirmation dialog
      var confirmationMessage = 'Refreshing this page will take you to the example page. Do you want to proceed?';
      var userConfirmed = window.confirm(confirmationMessage);
  
      if (!userConfirmed) {
        // If "Cancel," stay on the current page
        window.addEventListener('beforeunload', function (e) {
          e.preventDefault();
        });
      } else {
        // If "OK," proceed with the refresh and redirect
        window.location.replace('add_example.html');
      }
    }
  </script>
 
  <script src="../static/script.js"></script>
</body>
</html>
