<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Home</title>
<!-- <link rel="stylesheet" href="C:\Users\Adia_\Desktop\Exercises_Examples\Exercises_Examples\css\styles.css">-->
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>
  
    <div style= "max-width: 85%; 
                 text-align: justify;">
      <div style="margin-left:15%;">
         <h3>Mathematics</h3>
         <ul>
          <h4>Arithmetic</h4>
          <p class="line-spcaing">Arithmetic operations are a set of four basic operations addition, subtraction, multiplication and division to perform on two or 
            more quantities. It includes the study of numbers and order of operations (perform multiplication and division first, working from left to right, before doing addition and subtraction) which are important in all other parts of mathematical study such as algebra, derivatives etc.
          </p>
          <h4>Algebra</h4>
          <p class="line-spcaing">
              Algebra represents statements or problems in the form of mathematical expressions. These mathematical expressions involve variables (x, y, z), numbers and mathematical operations.
                </p>
                
          <h4>Derivatives</h4>
          <p class="line-spcaing">
              A derivative is the rate of change of a quantity with respect to another quantity. Also known as differential coefficient of a quantity with respect to another. The procedure of finding the derivative of a function in known as differentiation.
            </p><br>
            <a href="arthmetic.html">Next Chapter Arithmetic Operations
            </a>
            <h4>Reference</h4>
            <ul>
           <li style="margin-top: -2%;"><a href="https://www.cuemath.com/numbers/arithmetic-operations/#">Methamatics: CUEMATH</a></li>
          </ul>
            </div>

            </ul>

        </div>
        
   </div>
  <script src="../static/script.js"></script>
</body>
</html>

