<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Division Example</title>
<!-- <link rel="stylesheet" href="C:\Users\Adia_\Desktop\Exercises_Examples\Exercises_Examples\css\styles.css">-->
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>  
      <div style= "max-width: 85%; 
      text-align: justify;">
      <div style="margin-left:15%;">
      <ul>
        <h2 class="headingtop_margen">Arthimatic: Division Examples</h2>
      <div class="example-box">
      <h5>Example 1: 24 ÷ 8</h5>
        <h5 class="heading_margen">Solution: </h5>
        <pre class="heading_margen">
            24
          ÷  8
          -----
            3
         </pre>
        </div>
            <br>
    <div class="example-box">
      <h5>Example 2: 46 ÷ 6 </h5>
        <h5 class="heading_margen">Solution: </h5>
        <pre class="heading_margen">
            48
          ÷  6
          -----
            8
         </pre>
    </div>
    <br>
    <div class="example-box">
      <h5>Example 3: 81 ÷ 9</h5>
        <h5 class="heading_margen">Solution: </h5>
        <pre class="heading_margen">
            81
          ÷  9
          -----
            9
         </pre>

     </div>      
      </ul>
        </div>
        <div style = "text-align: right; font-size: 20px; padding-right: 10%;">      
          <a href="division_exercise.html">Exercise</a>
          </div>
   </div>
  <script src="../static/script.js"></script>
</body>
</html>
