<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Linear Algebra Exercise</title>
  <link href="../static/css/styles.css" rel="stylesheet">
 </head>
<script> 
  </script> 
<!DOCTYPE html>
<html lang="en">
<div style="position: fixed; top: 0; width: 100%;">
  <div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
    <img src="../static/Logo.png" width="50%" />
    </div>    
  <div class="centered">  
    <div style= "max-width: 100%; max-height: 20%;">
      <h2 class="headingtop_margen">Exercises for Algebra</h2>
      </div>
      <div class="exercise-box">
      <div class="timer" id="timer" >
        <p >00:00:00</p>
      </div>
      <h4>Linear Equation</h4>

      <form id="exerciseForm">
        <div id = "Q1">
            <p class="line-spcaing">Q1: \(4 - 2(x - 1) = 0\) </p>
          <input type="radio" id="lin1" name="q1" value=" 1">
          <label for="lin1">1</label><br>
          <input type="radio" id="lin2" name="q1" value="3">
          <label for="lin2">3</label><br>
          <input type="radio" id="lin3" name="q1" value="-1">
          <label for="lin3">-1</label><br>
          <p style="font-size: 14px;" id="resultMessage_q1"></p>
          <button class="button gray" onclick="checkAnswer('q1', '3')">Check & Submit</button>
          <!--<button type="submit" id="submitButton11" onclick="checkAnswer()">Submit</button>-->
          
          <button class="button gray" type="button" id="submitButton1" onclick="showNextQuestionDiv('Q2', 'Q1')">Next Question</button>
         
        </div>

        <div id = "Q2" style="display: none;">
          <p class="line-spcaing">Q2: \((1/2)x + 3 = (3/4)x\) </p>
          <input type="radio" id="lin4" name="q2" value="8">
          <label for="lin4">8</label><br>
          <input type="radio" id="lin5" name="q2" value="4">
          <label for="lin5">4</label><br>
          <input type="radio" id="lin6" name="q2" value="12">
          <label for="lin6">12</label><br>
          <p style="font-size: 14px;" id="resultMessage_q2"></p>
          <button class="button gray" onclick="checkAnswer('q2', '12')">Check & Submit</button>
          <!--<button type="submit" id="submitButton22" onclick="checkAnswer()">Submit</button>-->
          <button class="button gray" type="button" id="submitButton2" onclick="showNextQuestionDiv('Q3', 'Q2')">Next Question</button>
          
        </div>

        <div id = "Q3" style="display: none;">
          <p class="line-spcaing">Q3: \(2(x - 3) -3(x - 2) = x\) </p>
          <input type= "radio" id="lin7" name="q3" value="0">
          <label for="lin7">0</label><br>
          <input type="radio" id="lin8" name="q3" value="100">
          <label for="lin8">keine Lösung</label><br>
          <input type="radio" id="lin9" name="q3" value="1">
          <label for="lin9">1</label><br>
          <p style="font-size: 14px;" id="resultMessage_q3"></p>
        <button id = "submitButton3" onclick="checkAnswer('q3', '0')">Check & Submit</button>
        <button class="button gray" type="submit" id="submitButton" onclick="checkAnswers(false)">Result</button>
        <br>
        <button class="button gray" type="button" id="exampleButton" disabled onclick="openPage('linear_example.html')">Example</button>
        <button class="button gray" type="button" id="nextButton" onclick="openPage('quadratic_exercise.html')" disabled>Next Exercise</button>
        
      </div>
      </form>
       </div>
       <div style ="text-align: center;"> <p style="font-size:0.8em;">Note: You will get the final results based on your first attempt</p>
       </div>
  </div>
</div>
  <dialog id="resultDialog">
    <p id="resultMessage"></p>
    <button id="closeButton">Close</button>
  </dialog>
  <script src="../static/script.js"></script>
  <script>
    var evTypep = window.performance.getEntriesByType("navigation")[0].type;
  
    if (evTypep == 'reload') {
      // Display a confirmation dialog
      var confirmationMessage = 'Refreshing this page will take you to the example page. Do you want to proceed?';
      var userConfirmed = window.confirm(confirmationMessage);
  
      if (!userConfirmed) {
        // If "Cancel," stay on the current page
        window.addEventListener('beforeunload', function (e) {
          e.preventDefault();
        });
      } else {
        // If "OK," proceed with the refresh and redirect
        window.location.replace('linear_example.html');
      }
    }
  </script>
 
</body>
</html>
