<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" src="path/to/mathjax-config.js"></script>
<script type="text/javascript" src="path/to/MathJax.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.9/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  <title>Quadratic Algebra</title>
<!-- <link rel="stylesheet" href="C:\Users\Adia_\Desktop\Exercises_Examples\Exercises_Examples\css\styles.css">-->
</head>
<div style="text-align: center; margin-top: 2%; margin-bottom: 2%;" > 
  <img src="../static/Logo.png" width="50%" />
  </div>  
      <div style= "max-width: 85%; 
      text-align: justify;">
      <div style="margin-left:15%;">
      <ul>
        <h2 class="headingtop_margen">Algebra: Quadratic Equation Exmaples</h2>
      <div class="example-boxAlgebra">
      <h4>Example 1:  \(3x^2 + 6x - 9 = 0\)<h4>
  <h4 class="heading_margen">Solution: </h4>
  <p class= "math-equation">
  Split the exponent of degree one
  <br>\(⇒ 3x^2 + 9x - 3x - 9 \,\;\;\;\;= 0\) 
  <br>\(⇒ 3x(x + 3) - 3(x + 3) = 0\)        
  <br>\(⇒ (3x - 3)(x + 3) \;\;\;\;\;\;\;\;\,= 0\)
  <br>when \(3x - 3 = 0  \;\;\;\;\, ⇒    x = 1\)
  <br>when \(x + 3 = 0   \;\;\;\;\;\;\, ⇒    x = - 3\)
  <br>The required solutions are:
  <br>\(x = -3, 1\)
  </p>
      </div>
            <br>
    <div class="example-boxAlgebra">
      <h4>Example 2: \(x^2 - 7x + 8 = 0\)</h4>
  <h4 class="heading_margen">Solution: </h4>
  <p class= "math-equation">  
  Split the exponent of degree one
  <br>\(⇒ x^2 - x - 8x + 8 \;\;\;\;\;\;= 0\)
  <br>\(⇒ x(x - 1) - 8(x - 1) = 0\)       
  <br>\(⇒ (x - 8)(x - 1) \,\;\;\;\;\;\;\;\;= 0\)
  <br>when  \(x - 8 = 0    \,\;\;\;\;⇒    x = 8\)
  <br>when  \(x - 1 = 0    \,\;\;\;\;⇒    x = 1\)
  <br>The required solutions are:
  <br>\(x = 1, 8\)
  </p>
    </div>
    <br>
    <div class="example-boxAlgebra">
      <h4>Example 3: \(2x^2 + 3x - 5 = 0\)</h4>
  <h4 class="heading_margen">Solution: </h4>
  <p class= "math-equation">
  Split the exponent of degree one
  <br>\(⇒ 2x^2 - 2x + 5x - 5 \;\;\;\;= 0\)
  <br>\(⇒ 2x(x - 1) + 5(x - 1) = 0\)        
  <br>\(⇒ (2x + 5)(x - 1) \;\;\;\;\;\;\;\;\,= 0\)
  <br>when \(2x + 5 = 0   \;⇒    x = - 5/2\)
  <br>when \(x - 1 = 0    \;\;⇒    x = 1\)
  <br>The required solutions are:
  <br>\(x = -5/2, 1\)
  </p>

     </div>      
      </ul>
        </div>

        <div style = "text-align: right; font-size: 20px; padding-right: 10%;">      
          <a href="quadratic_exercise.html">Exercise</a>
          </div>
   </div>
  <script src="../static/script.js"></script>
</body>
</html>
